doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
    script(src="/javascripts/dq.js")
  body
    block content
